* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  text-decoration: none;
  }

body {
color: white;
display: flex;
flex-direction: column;
height: 100vh;
}

/* HEADER */

header {
position: sticky;
top: 0;
left: 0;
width: 100%;
background: #020617;
padding: 14px 18px;
border-bottom: 1px solid #1e293b;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10;
}

header h3,
header h4 {
color: #38bdf8;
font-weight: 600;
}

/* BUTTONS */

.controls {
display: flex;
gap: 10px;
}

.controls button {
background: #2563eb;
border: none;
color: white;
padding: 8px 14px;
border-radius: 6px;
cursor: pointer;
font-size: 13px;
transition: 0.2s;
}

.controls button:hover {
background: #1d4ed8;
}

/* MAIN CONTAINER */

.code-container {
background: #0f172a;
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
}

/* MONACO EDITOR FIX */

.monaco-editor {
flex: 1;
user-select: text !important;
}

.monaco-editor .view-lines {
cursor: text;
}

/* ERROR BOX */

#errorBox {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background: #7f1d1d;
color: white;
font-size: 13px;
padding: 8px 12px;
display: none;
border-top: 1px solid #ef4444;
font-family: monospace;
}
